:root {
    --primary: #db3e27;
    --primary-hover: rgba(219, 62, 39, 0.83);
    --primary-second-hover: rgba(255, 237, 233, 0.95);
    --primary-press: rgba(219, 62, 39, 0.66);
    --primary-disabled: rgba(219, 62, 39, 0.50);
    --primary-second-disabled: rgba(255, 255, 255, 0.5);
    --secondary: #e0701c;
    --info: #e0701c;
    --success: #2d995b;
    --error: #d9534f;
}

body {
    line-height: 1.6;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 80px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    --c:no-repeat linear-gradient(#ffae00 0 0);
    background: var(--c), var(--c);
    background-size: 25% 50%;
    animation: l4 1.5s infinite linear;
  }
  .loader-nk {
    height: 80px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader-nk:before,
  .loader-nk:after {
    content: "";
    --c:no-repeat linear-gradient(#006689 0 0);
    background: var(--c), var(--c);
    background-size: 25% 50%;
    animation: l4 1.5s infinite linear;
  }
  .loader:after, .loader-nk:after {
    transform: scale(-1);
  }
  @keyframes l4 {
    0%,
    10%  {background-position:33.4% 100%,66.6% 100%}
    40%  {background-position:33.4% 0,100% 100%}
    70%  {background-position:0 100%,66.6% 0}
    100% {background-position:33.4% 100%,66.6% 100%}
  } 

